@import "normalize";
@import "bourbon";

body {
  background: black;
  padding: 1em;
  // font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

a, a:visited, a:hover, a:active {
  color: white;
}

$red: #D92E2D;
$green: #12DEBD;

.control-labeled-data {
  font-size: 24px;
  text-align: center;
  display: inline-block;
  margin: 0.5em;
  min-width: 80px;

  .label {
    font-weight: 300;
    font-size: 0.6em;
  }

  .value {
  }
}

button.control-button {
  background: none;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  padding: 0.4em 0.8em;
  margin: 0 0.4em;
  display: inline-block;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;

  &:focus {
    outline: none;
  }

  &.is-active {
    border-color: white;
    background: white;
    color: black;
  }

  &.safe {
    border-color: $green;
    color: lighten($green, 30);
  }

  &.safe.is-active {
    border-color: $green;
    background: $green;
    color: black;
  }

  &.warning {
    border-color: $red;
    color: lighten($red, 30);
  }

  &.warning.is-active {
    border-color: $red;
    background: $red;
    color: black;
  }
}

input {
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 18px;
  padding: 0.4em;
}
