<div>
  <h1>Join Existing Ship</h1>
  Ship code: {{input value=shipCode}}
  <button class='control-button' {{action 'join'}}>Join Ship</button>
</div>
<div>
  <h1>New Ship</h1>
  <button class='control-button' {{action 'newShip'}}>New Ship</button>
</div>
